body {
  margin:0 auto;
  padding:0;
  height: 100%;
}

html {
  margin:0 auto;
  padding:0;
  height: 100%;
}

* {
  font-family: 'Lato', sans-serif;
}

.kontainer {
  width: 80%;
  margin: 0 auto;
}

h4 {
  font-size: 26px;
  margin: 10px;
  margin-bottom: 2px;
  font-weight: lighter;
}

a {
  font-size: 20px;
  color: black;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.none {
  display: none;
}

.nav-link {
  margin-right: 100px;
}

#header {
  padding: 5px;
  border: 1px solid black;
  background: white;
  display: flex;
  align-items: flex-end;
  position: sticky;
  margin-bottom: 100px;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  display: flex;
  align-items: flex-end;
}

#header-img {
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 5px;
}

#offer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, .05);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 80px;
  min-width: 223px;
}

#email button {
  width: 40%;
  height: 30px;
  margin: auto;
}

.icon {
  font-size: 60px;
  opacity: .2;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info {
  margin-bottom: 80px;
}

.info {
  margin-left: 20px;
}

#info-1 {
  display: flex;
}

#info-2 {
  display: flex;
}

#info-3 {
  display: flex;
}

#about {
  margin-bottom: 80px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  display: flex;
  margin-bottom: 150px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
#video h3 {
  margin-right: 30px;
}

#models {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  border: 1px solid black;
  border-radius: 12px;
  padding: 5%;
  margin: 1%;
  text-align: center;
  margin-bottom: 50px;
}

.card button {
  width: 80px;
  height: 30px;
  font-size: 12px;
  text-align: center;
}

.btn {
  color: black;
  background: lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid black;
  box-shadow: none;
  font-size: 16px;
}

.btn:hover {
  background: black;
  color: white;
}

.model-name {
  color: rgba(0, 0, 0, .8);
}

.model-price {
  margin-bottom: 20px;
}

.model-description {
  text-align: justify;
  margin-bottom: 30px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 16px;
}

footer {
  background: lightgrey;
  padding: 20px;
  text-align: right;
}

footer a {
  margin-left: 50px;
}

#burger {
  font-size: 25px;
  margin-right: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
}

@media(max-width: 992px) {
  .nav-link {
    margin-right: 45px;
  }
}

@media(max-width: 768px) {
  #logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-links {
    display: flex;
    flex-direction: column;
  }
  #models {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 90%;
  }
  #email {
    width: 100%;
  }
}

@media(max-width: 480px) {
  #header-img {
    display: none;
  }
  #nav-links {
    display: none;
  }
  #burger {
    display: flex;
  }
  #nav-bar {
    display: flex;
    align-items: center;
  }
  .in {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  footer a {
    margin-left: 10px;
  }
}